# build artifacts
build/
target/
resources/
image/
changelog

# temp files
activemq-data/
out/
tmp/
logs/
*.log
*.log.*
*~
.ant-targets*.xml
TEST*.xml
*.jasper

# external libraries
libs/

# project files
.idea/
*.iml
.project
.classpath
.settings

# local git configuration
.gitattributes


