<!DOCTYPE hibernate-configuration SYSTEM
  "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <!-- connection settings -->
        <property name="hibernate.connection.release_mode">after_transaction</property>

        <!-- This should be equal to Constants.HIBERNATE_BATCH_SIZE -->
        <property name="hibernate.jdbc.batch_size">100</property>

        <!--  Debugger helpers -->
        <property name="hibernate.show_sql">false</property>
        <property name="hibernate.format_sql">true</property>
        <property name="hibernate.use_sql_comments">true</property>

        <!-- Mappings, only needed to help GROM, otherwise all the mappings are done with annotations -->
        <mapping package="com.sapienter.jbilling.server.provisioning.db" />
        <mapping class="com.sapienter.jbilling.server.provisioning.db.ProvisioningStatusDTO" />
        <mapping package="com.sapienter.jbilling.server.report.db"/>
        <mapping class="com.sapienter.jbilling.server.report.db.ReportDTO"/>
        <mapping class="com.sapienter.jbilling.server.report.db.ReportTypeDTO"/>
        <mapping class="com.sapienter.jbilling.server.report.db.ReportParameterDTO"/>
        <mapping class="com.sapienter.jbilling.server.report.db.parameter.BooleanReportParameterDTO"/>
        <mapping class="com.sapienter.jbilling.server.report.db.parameter.DateReportParameterDTO"/>
        <mapping class="com.sapienter.jbilling.server.report.db.parameter.IntegerReportParameterDTO"/>
        <mapping class="com.sapienter.jbilling.server.report.db.parameter.StringReportParameterDTO"/>
        <mapping package="com.sapienter.jbilling.server.process.db" />
        <mapping class="com.sapienter.jbilling.server.process.db.BillingProcessConfigurationDTO" />
        <mapping class="com.sapienter.jbilling.server.process.db.ProcessRunTotalPmDTO" />
        <mapping class="com.sapienter.jbilling.server.process.db.ProcessRunUserDTO" />
        <mapping class="com.sapienter.jbilling.server.process.db.ProcessRunTotalDTO" />
        <mapping class="com.sapienter.jbilling.server.process.db.AgeingEntityStepDTO" />
        <mapping class="com.sapienter.jbilling.server.process.db.PaperInvoiceBatchDTO" />
        <mapping class="com.sapienter.jbilling.server.process.db.ProcessRunStatusDTO" />
        <mapping class="com.sapienter.jbilling.server.process.db.PeriodUnitDTO" />
        <mapping class="com.sapienter.jbilling.server.process.db.ProcessRunDTO" />
        <mapping class="com.sapienter.jbilling.server.process.db.BillingProcessDTO" />
        <mapping package="com.sapienter.jbilling.server.util.audit.db" />
        <mapping class="com.sapienter.jbilling.server.util.audit.db.EventLogMessageDTO" />
        <mapping class="com.sapienter.jbilling.server.util.audit.db.EventLogDTO" />
        <mapping class="com.sapienter.jbilling.server.util.audit.db.EventLogModuleDTO" />
        <mapping package="com.sapienter.jbilling.server.util.db" />
        <mapping class="com.sapienter.jbilling.server.util.db.LanguageDTO" />
        <mapping class="com.sapienter.jbilling.server.util.db.PreferenceTypeDTO" />
        <mapping class="com.sapienter.jbilling.server.util.db.PreferenceDTO" />
        <mapping class="com.sapienter.jbilling.server.util.db.CountryDTO" />
        <mapping class="com.sapienter.jbilling.server.util.db.CurrencyExchangeDTO" />
        <mapping class="com.sapienter.jbilling.server.util.db.CurrencyDTO" />
        <mapping class="com.sapienter.jbilling.server.util.db.InternationalDescriptionDTO" />
        <mapping class="com.sapienter.jbilling.server.util.db.InternationalDescriptionId" />
        <mapping class="com.sapienter.jbilling.server.util.db.AbstractGenericStatus" />
        <mapping class="com.sapienter.jbilling.server.util.db.InternationalDescription" />
        <mapping class="com.sapienter.jbilling.server.util.db.JbillingTable" />
        <mapping class="com.sapienter.jbilling.server.util.db.NotificationCategoryDTO" />
        <mapping package="com.sapienter.jbilling.server.item.db" />
        <mapping class="com.sapienter.jbilling.server.item.db.ItemDTO" />
        <mapping class="com.sapienter.jbilling.server.item.db.ItemTypeDTO" />
        <mapping class="com.sapienter.jbilling.server.item.db.ItemPriceDTO" />
        <mapping package="com.sapienter.jbilling.server.payment.blacklist.db" />
        <mapping class="com.sapienter.jbilling.server.payment.blacklist.db.BlacklistDTO" />
        <mapping package="com.sapienter.jbilling.server.payment.db" />
        <mapping class="com.sapienter.jbilling.server.payment.db.PaymentInvoiceId" />
        <mapping class="com.sapienter.jbilling.server.payment.db.PaymentInvoiceMapDTO" />
        <mapping class="com.sapienter.jbilling.server.payment.db.PaymentDTO" />
        <mapping class="com.sapienter.jbilling.server.payment.db.PaymentAuthorizationDTO" />
        <mapping class="com.sapienter.jbilling.server.payment.db.PaymentResultDTO" />
        <mapping class="com.sapienter.jbilling.server.payment.db.PaymentMethodDTO" />
        <mapping class="com.sapienter.jbilling.server.payment.db.PaymentInfoChequeDTO" />
        <mapping package="com.sapienter.jbilling.server.mediation.db" />
        <mapping class="com.sapienter.jbilling.server.mediation.db.MediationRecordLineDTO" />
        <mapping class="com.sapienter.jbilling.server.mediation.db.MediationRecordStatusDTO" />
        <mapping class="com.sapienter.jbilling.server.mediation.db.MediationRecordDTO" />
        <mapping class="com.sapienter.jbilling.server.mediation.db.MediationOrderMap" />
        <mapping class="com.sapienter.jbilling.server.mediation.db.MediationProcess" />
        <mapping class="com.sapienter.jbilling.server.mediation.db.MediationConfiguration" />
        <mapping class="com.sapienter.jbilling.server.mediation.db.MapPK" />
        <mapping package="com.sapienter.jbilling.server.user.permisson.db" />
        <mapping class="com.sapienter.jbilling.server.user.permisson.db.PermissionTypeDTO" />
        <mapping class="com.sapienter.jbilling.server.user.permisson.db.PermissionUserDTO" />
        <mapping class="com.sapienter.jbilling.server.user.permisson.db.PermissionDTO" />
        <mapping class="com.sapienter.jbilling.server.user.permisson.db.RoleDTO" />
        <mapping package="com.sapienter.jbilling.server.user.contact.db" />
        <mapping class="com.sapienter.jbilling.server.user.contact.db.ContactTypeDTO" />
        <mapping class="com.sapienter.jbilling.server.user.contact.db.ContactFieldTypeDTO" />
        <mapping class="com.sapienter.jbilling.server.user.contact.db.ContactMapDTO" />
        <mapping class="com.sapienter.jbilling.server.user.contact.db.ContactDTO" />
        <mapping class="com.sapienter.jbilling.server.user.contact.db.ContactFieldDTO" />
        <mapping package="com.sapienter.jbilling.server.user.db" />
        <mapping class="com.sapienter.jbilling.server.user.db.UserStatusDTO" />
        <mapping class="com.sapienter.jbilling.server.user.db.CreditCardDTO" />
        <mapping class="com.sapienter.jbilling.server.user.db.AchDTO" />
        <mapping class="com.sapienter.jbilling.server.user.db.SubscriberStatusDTO" />
        <mapping class="com.sapienter.jbilling.server.user.db.CompanyDTO" />
        <mapping class="com.sapienter.jbilling.server.user.db.UserDTO" />
        <mapping class="com.sapienter.jbilling.server.user.db.CustomerDTO" />
        <mapping package="com.sapienter.jbilling.server.invoice.db" />
        <mapping class="com.sapienter.jbilling.server.invoice.db.InvoiceLineDTO" />
        <mapping class="com.sapienter.jbilling.server.invoice.db.InvoiceDeliveryMethodDTO" />
        <mapping class="com.sapienter.jbilling.server.invoice.db.InvoiceStatusDTO" />
        <mapping class="com.sapienter.jbilling.server.invoice.db.InvoiceLineTypeDTO" />
        <mapping class="com.sapienter.jbilling.server.invoice.db.InvoiceDTO" />
        <mapping package="com.sapienter.jbilling.server.notification.db" />
        <mapping class="com.sapienter.jbilling.server.notification.db.NotificationMessageSectionDTO" />
        <mapping class="com.sapienter.jbilling.server.notification.db.NotificationMessageLineDTO" />
        <mapping class="com.sapienter.jbilling.server.notification.db.NotificationMessageTypeDTO" />
        <mapping class="com.sapienter.jbilling.server.notification.db.NotificationMessageArchLineDTO" />
        <mapping class="com.sapienter.jbilling.server.notification.db.NotificationMessageDTO" />
        <mapping class="com.sapienter.jbilling.server.notification.db.NotificationMessageArchDTO" />
        <mapping package="com.sapienter.jbilling.server.order.db" />
        <mapping class="com.sapienter.jbilling.server.order.db.OrderBillingTypeDTO" />
        <mapping class="com.sapienter.jbilling.server.order.db.OrderLineDTO" />
        <mapping class="com.sapienter.jbilling.server.order.db.OrderProcessDTO" />
        <mapping class="com.sapienter.jbilling.server.order.db.OrderLineTypeDTO" />
        <mapping class="com.sapienter.jbilling.server.order.db.OrderPeriodDTO" />
        <mapping class="com.sapienter.jbilling.server.order.db.OrderDTO" />
        <mapping class="com.sapienter.jbilling.server.order.db.OrderStatusDTO" />
        <mapping package="com.sapienter.jbilling.server.user.partner.db" />
        <mapping class="com.sapienter.jbilling.server.user.partner.db.Partner" />
        <mapping class="com.sapienter.jbilling.server.user.partner.db.PartnerRange" />
        <mapping class="com.sapienter.jbilling.server.user.partner.db.PartnerPayout" />
        <mapping package="com.sapienter.jbilling.server.pluggableTask.admin" />
        <mapping class="com.sapienter.jbilling.server.pluggableTask.admin.PluggableTaskDTO" />
        <mapping class="com.sapienter.jbilling.server.pluggableTask.admin.PluggableTaskParameterDTO" />
        <mapping class="com.sapienter.jbilling.server.pluggableTask.admin.PluggableTaskTypeCategoryDTO" />
        <mapping class="com.sapienter.jbilling.server.pluggableTask.admin.PluggableTaskTypeDTO" />


    </session-factory>
</hibernate-configuration>